.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.valRow {
    display: flex;
    flex-grow: 1;
}