.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.valRow {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}
.valCell {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.val {
    font-weight: 600;
}