.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-family: Open sans;
    height: 100%;
    align-items: center;
    align-self: center;
    row-gap: 0;
}

.valRow {
    height: 100%;
}

.valRow:not(:nth-last-child(-n+2)){
    border-bottom: 1px solid #223B50;
}

.valCell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
    margin-left: 5px;
    height: inherit;
}

.row {
    font-size: 14px;
}

.value {
    font-size: larger;
    font-weight: 600;
}